header {
  background-color: #4caf50;
  color: white;
  padding: 10px 0;
  text-align: center;
  font-family: Arial, sans-serif;
  margin-bottom: 20px;
  height: 200px;
}

.logo {
  max-width: 15%;
  position: top left;
  margin-top: -30px;
  margin-left: -1150px;
}
footer {
  background-color: #4caf50;
  text-align: left;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
  font-family: Arial, sans-serif;
  margin-top: 20px;
}

h1 {
    font-style: italic;
    font-size: 40px;
    margin-top: -90px;
    color: whitesmoke;
    border-color: aliceblue;
  
}

nav ul {
  flex-direction: row;
  padding: 0;
  text-align: center;
  color: whitesmoke;
  background-color:whitesmoke;
  margin: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    
}

.github-logo {
  width: 100px;
  height: 100px;
  vertical-align: right;
  margin-left: 1220px;
    margin-top: -55px;
}

.section1 {
  margin-bottom: 100px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
}

h2 {
  color: brown;
  margin-bottom: 10px;
  text-align: center;
}

p {
  line-height: 1.6;
  margin-bottom: 10px;
  text-align: center;
}